html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea {
  overflow: auto;
}
html {
  font: 112.5%/1.45em 'Rubik', sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: #242938;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3.2rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.4px;
}

h1 span {
  box-shadow: inset 0 -70px 0 -12px #a7eefe;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.2rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
}

h2 span {
  box-shadow: inset 0 -50px 0 -12px #a7eefe;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p span.underline {
  font-weight: bold;
}

.header {
  height: 80px;
  margin: 0px auto; max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}


.screen .logo {
  margin-bottom: 50px;
  width: 150px;
}

.screenInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.imagesCarrier {
  width: calc(100% - 530px);
}

.screenshots {
  width: 100%;
  height: 100%;
  position: relative;
}

.screenshots .gatsby-image-wrapper {
  max-width: 820px;
  box-shadow: 0px 0px 10px 2px rgba(87,87,87,0.23);
}

.screenshots .background {
  max-width: 820px;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 20px;
  transition: 200ms;
}


.screenshots .foreground {
  max-width: 820px;
  width: 100%;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 3;
  transition: 200ms all;
}

.screenshots:hover .background {
  top: -20px;
  left: 0px;
}
.screenshots:hover .foreground {
  top: 70px;
  right: 0px;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}

.wheelCarrier {
  margin: auto;
  display: block;
  fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.wheelPart1 {
  fill:none;stroke:#242938;stroke-width:20px;
}

.wheelPart2 {
  fill:none;stroke:#242938;stroke-width:20px;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.button.active {
  background: #242938;
  color: #fff;
}

.button.passive {
  border: 2px solid #242938;
}

.subtext {
  font-size: 1.2em;
  line-height: 1.5em;
}

.superpowers {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% / 3 - 15px);
  padding: 15px 0px;
}

.superpower {
  border-bottom: 2px solid #eee;
  color: #8798A6;
  cursor: pointer;
  margin-bottom: 27px;
}

.superpower:hover, .superpower.active {
  color: #242938;
  border-bottom-color: #242938;
}

.superpower p {
  margin-bottom: 15px;
}

.superpowerCarrier {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.superpowerScreenShot {
  width: calc(100% - 320px);
}

.superpowerScreenShot .gatsby-image-wrapper {
  max-width: 820px;
  box-shadow: 0px 0px 10px 2px rgba(87,87,87,0.23);
}

.buttonCarrier {
  display: flex;
  flex-direction: row;
}

.opensource {
  max-width: 550px;
  margin: auto;
}

.opensource li {
  margin-bottom: 10px;
  color: #242938;
}

.opensource a {
  box-shadow: inset 0 -17px 0 -12px #a7eefe;
  text-decoration: none;
  color: #242938;
  font-weight: 500;
  transition: 200ms all;
}

.opensource a:hover {
  box-shadow: inset 0 -70px 0 -12px #a7eefe;
}

.footer {
  text-align: center;
  opacity: 0.5;
  margin-top: 20%;
}


@media only screen and (max-width: 930px) {
  .superpowerCarrier {
    flex-direction: column-reverse;
  }
  .superpowerScreenShot {
    width: auto;
  }
  .superpowers {
    margin-top: 10px;
    width: auto;
  }
  .screenInner {
    flex-direction: column;
  }

  .screenInner .mottoCarrier {
    position: relative;
    z-index: 99;
  }

  .imagesCarrier {
    width: calc(100% - 20px);
    position: absolute;
    top: 0px;
    opacity: 0.2;
  }
}


@media only screen and (max-width: 600px) {

  .mottoCarrier {
    width: 100%;
  }
  .mottoCarrier .subtext {
    font-size: 1em;
  }

  .imagesCarrier {
    opacity: 0.1;
    top: 10%;
  }
  .mottoCarrier h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.8em;
  }

}

@media only screen and (max-width: 480px) {

  .mottoCarrier .subtext {
    font-size: 0.95em;
  }

  .logo {
    max-width: 40%;
  }

  .mottoCarrier h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  .buttonCarrier {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-bottom: 15px;
  }
}
